body{
    font-family: 'Roboto', serif;
    font-size: 20px;
    color: black;
    background-color: white;
}
header{
    font-family: 'Roboto', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;


}

div{
    margin-bottom:30px

}


.subhead{
    
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 12px 0 12px 0;

}

.content{
    font-size: 0;
    line-height: 12px;
    word-spacing: -.31em;
    
    display: inline-block;
    margin: 30px 2% 0 2%;


}

.column{
    display:flex;
    font-size: 14px;
    line-height: 20px;
    /* width: 45%; */
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}

.column + .column { 
  border-left: 1px solid black;
}

.column .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Roboto', serif;
    display: block;
    margin: 0 auto;


}
.column .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    padding: 10px 0 10px 0;

}

.column .headline.hl4:before{
    border-top: 1px solid black;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.column .headline.hl4:after{
    border-bottom: 1px solid black;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;


}

.flex-container {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-direction: row;
  }

  .main{
    display: grid;
    grid: auto auto / auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}





